@page
@model Sunny.Pages.PadreINFO.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Menu De La Informacion Del Los Los Padres</h1>

<p>
    <br />
    <a asp-page="/EscuelaINFO/Index">Ver Informacion Escolar</a>
    <br />
    <a asp-page="/ViviendaINFO/Index">Ver Informacion Socieconomico</a>
    <br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Info_Padre[0].Nombre_Padre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info_Padre[0].CURP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info_Padre[0].Nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info_Padre[0].Fecha_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info_Padre[0].Ocupacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info_Padre[0].Ingresos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Info_Padre)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Padre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CURP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocupacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingresos)
                </td>
                <td>
                    <a asp-page="./Editar" asp-route-id="@item.id">Edit</a> |
                    <a asp-page="./Detalles" asp-route-id="@item.id">Details</a> |
                    <a asp-page="./Borrar" asp-route-id="@item.id">Delete</a> |
                    <a asp-page="Create">Agregar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
