@page
@model Sunny.Pages.Info_Alumno.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Menu De La Informacion Del Los Alumnos</h1>

<p>
    <br />
    <a asp-page="/EscuelaINFO/Index">Ver Informacion Escolar</a>
    <br />
    <a asp-page="/PadreINFO/Index">Ver Informacion De Sus Padres</a>
    <br />
    <a asp-page="/ViviendaINFO/Index">Ver Informacion Socieconomico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlumnoPers[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlumnoPers[0].CURP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlumnoPers[0].Nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlumnoPers[0].Fecha_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlumnoPers[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlumnoPers[0].Discapacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AlumnoPers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CURP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_nacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discapacidad)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a> |
                    <a asp-page="Create">Agregar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
