@page
@model Sunny.Pages.ViviendaINFO.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Dettales de la Informacion</h1>

<div>
    <h4>Informacion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Vivienda.Piezas_Casa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Vivienda.Piezas_Casa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Vivienda.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Vivienda.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Vivienda.Servicios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Vivienda.Servicios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Vivienda.Construccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Vivienda.Construccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Vivienda.Estatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Vivienda.Estatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Vivienda.Mobiliario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Vivienda.Mobiliario)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Info_Vivienda.Id">Editar</a> |
    <a asp-page="./Index">Volver al Menu</a>
</div>
