@page
@model Sunny.Pages.MadreINFO.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar infromacion de la Madre</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Infromacion de la Madre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Madre.Nombre_Madre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Madre.Nombre_Madre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Madre.CURP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Madre.CURP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Madre.Nacionalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Madre.Nacionalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Madre.Fecha_nacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Madre.Fecha_nacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Madre.Ocupacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Madre.Ocupacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Madre.Ingresos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Madre.Ingresos)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Info_Madre.id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver al menu</a>
    </form>
</div>
