@page
@model Becas_Escolar.Pages.Alumno_Escolar_Service.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Menu Del Estudiante</h1>

<p>
    <a asp-page="Create">Agregar Un Nuevo Alumno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alumno_Escolar[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno_Escolar[0].Nivel_Escolar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno_Escolar[0].Grado_Escolar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno_Escolar[0].Nombre_Tutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Alumno_Escolar) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel_Escolar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grado_Escolar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Tutor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
