@page
@model Sunny.Pages.EscuelaINFO.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar Infromacion de la Escolar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Infromacion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Escolar.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Escolar.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Escolar.Nivel_Escolar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Escolar.Nivel_Escolar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Escolar.Grado_Escolar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Escolar.Grado_Escolar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Escolar.Nombre_Tutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Escolar.Nombre_Tutor)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Info_Escolar.Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver al Menu</a>
    </form>
</div>
