@page
@model Sunny.Pages.EscuelaINFO.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Escolares</h1>

<div>
    <h4>Detalles de la Informacion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Escolar.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Escolar.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Escolar.Nivel_Escolar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Escolar.Nivel_Escolar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Escolar.Grado_Escolar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Escolar.Grado_Escolar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info_Escolar.Nombre_Tutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info_Escolar.Nombre_Tutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Info_Escolar.Id">Editar</a> |
    <a asp-page="./Index">Volver al Menu</a>
</div>
